<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <form
      action="/user/mainProfile/<%= user.id %>/edit?_method=PATCH"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" value="<%= user.firstname %>" />
      <br /><br />
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" value="<%= user.lastname %>" />
      <br /><br />
      <label for="username">Username</label>
      <input type="text" name="username" value="<%= user.username %>" />
      <br /><br />
      <label for="description">Description</label>
      <input type="text" name="description" value="<%= user.description %>" />
      <br /><br />
      <img src="/img/<%= user.profileImg %> " alt="" />
      <label for="profileImg">Profile Img</label>
      <input type="file" name="profileImg" />
      <br /><br />
      <button type="submit">Submit Changes</button>
    </form>
    <%- include("partials/footer") %>
  </body>
</html>
